[attr]lfs filter=lfs diff=lfs merge=lfs -text

# Images
*.png               lfs
*.jpg               lfs
*.jpeg              lfs
*.bmp               lfs
*.psd               lfs
*.tga               lfs
*.gif               lfs
*.exr               lfs
*.hdr               lfs
*.webp              lfs
*.tif               lfs
*.tiff              lfs

# 3D models
*.fbx               lfs
*.obj               lfs
*.glb               lfs
*.gltf              lfs
*.blend             lfs
*.bbmodel           lfs
*.dae               lfs
*.stl               lfs
*.3ds               lfs
*.ply               lfs
*.c4d               lfs
*.ma                lfs
*.mb                lfs
*.lwo               lfs
*.lws               lfs
*.max               lfs
*.ztl               lfs

# art
*.ase               lfs
*.aseprite          lfs

# Audio
*.wav               lfs
*.mp3               lfs
*.ogg               lfs
*.flac              lfs
*.aiff              lfs
*.mod               lfs
*.it                lfs
*.s3m               lfs
*.xm                lfs

# Video
*.mp4               lfs
*.mov               lfs
*.avi               lfs
*.flv               lfs
*.mkv               lfs
*.webm              lfs
*.wmv               lfs
*.mpeg              lfs
*.mpg               lfs
*.ogv               lfs

# Fonts
*.ttf               lfs
*.otf               lfs
*.woff              lfs
*.woff2             lfs

# Compressed archives
*.zip               lfs
*.rar               lfs
*.7z                lfs
*.tar               lfs
*.gz                lfs
*.bz2               lfs
*.xz                lfs

# Binary data
*.bin               lfs
*.dat               lfs
*.pak               lfs
*.pck               lfs
*.res               lfs
*.dll               lfs
*.so                lfs
*.dylib             lfs
*.a                 lfs
*.lib               lfs
*.pdb               lfs
*.exe							 lfs

*.pdf               lfs